* {
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;


    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;


}

header nav {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}

.second-nav {
    display: flex;
    width: 415px;
    justify-content: space-evenly;
}

.second-nav a {
    text-decoration: none;

}

.nav-color {
    color: #252432;
    font-weight: bold;
}

.nav-color2 {
    color: #8987A1;
}

.nav-cart {
    color: #000000;
}


.banner {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: last baseline;
    max-width: 1140px;
    margin: 0 auto;
}

.banner-title {
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 13px;
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
}

.first-section {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

.first-section-header {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 120px;

}

.first-section-description {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.flower-name {
    color: #111111;
    font-size: 22px;
    font-weight: 550;
    margin-top: 30px;
}

.flower-price {
    color: #111111;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.primary-btn {
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: #E95A08;
    padding: 19px;
    width: 100%;
    cursor: pointer;
}

.single-img-section {
    max-width: 100%;
}

.img-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.second-section-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1140px;
    gap: 60px;
    margin: 0 auto;
    margin-top: 210px;
}

.second-section-header {
    font-weight: bold;
    font-size: 50px;
    color: #000000;
    margin-bottom: 20px;
}

.second-section div ul li {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.second-section div ul {
    padding-left: 40px;
}

.trusted-badge {
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-230px);
    width: 286px;
    z-index: 10;
    background: none;
}

.third-section-header {
    font-size: 50px;
    font-weight: bold;
    margin-top: 130px;
    margin-bottom: 16px;
}

.third-section {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.third-section-description {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 120px;
}

.single1 {
    background-image: url(../assets/deal-bloom.png);
    grid-area: single1;
}

.single2 {
    background-image: url(../assets/deal-ana.png);
    grid-area: single2;
}

.single3 {
    background-image: url(../assets/deal-zabo.png);
    grid-area: single3;
}
.off{
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: transparent;
    
}
.shop-now{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
}

.third-section-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "single1 single3" "single2 single3";
    gap: 16px;
    padding: 20px;
}

.single1,
.single2,
.single3 {
    background-size: cover;
    background-position: center;
    border-radius: 12px; 
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.single1::before,
.single2::before,
.single3::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  z-index: 0;
}
.off, .shop-now{
    position: relative;
    
}





@media screen and (max-width:574px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        margin-top: 2px;
        margin-bottom: 28px;
    }

    .second-nav {
        width: auto;
        flex: 1;
        justify-content: flex-end;
    }

    .hidden-nav {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        /* width: 100%; */
    }

    .banner-title {
        font-size: 24px;
    }

    .banner img {
        width: 100%;
        margin-bottom: 28px;

    }

    .banner>div {
        padding: 15px;
    }

    .img-section {
        grid-template-columns: repeat(2, 1fr);

    }

    .single-img-section img {
        width: 100%;
    }

    .first-section {
        max-width: 544px;
        padding: 15px;
    }

    .first-section-header {
        font-size: 24px;
        font-weight: bold;
        margin-top: 65px;
    }

    .first-section-description {
        font-size: 14px;
    }

    .flower-price {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .flower-name {
        font-size: 16px;

    }


    .second-section-wrapper {
        flex-direction: column;
        margin-top: 42px;
        padding: 15px;
    }

    .second-section-wrapper img {
        /* padding: 15px; */
        width: 100%;
    }

    .trusted-badge {
        display: none;
    }

    .second-section-header {
        font-size: 24px;
        font-weight: bold;
        margin-top: 18px;
        margin-bottom: 16px;
    }

    .second-section div ul li {
        font-size: 14px;
        padding-bottom: 16px;
    }

    .third-section-header{
        font-size: 24px;
        font-weight: bold;
        margin-top: 143px;
        margin-bottom: 16px;
    }
    .third-section-description{
        font-size: 14px;
        margin-bottom: 52px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .third-section-images{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "single1" "single2" "single3";
        column-gap: 20px;
    }
}